<noscript>
  <div class="popup popup--popup popup--standard" role="alert" id="standard-popup">
      <div class="row">
          <div class="popup__content">
              <strong>Javascript je isključen -</strong> za pravilan rad ove internetske stranice odobrite Javascript u vašem internetskom pregledniku.
          </div>
      </div>
  </div>
  <hr size="1px" color="#ffffff">
</noscript>
[% IF c.config.STAGING_SITE and !c.config.STAGING_FLAGS.hide_staging_banner ~%]
<div class="popup popup--popup popup--standard" role="alert" id="standard-popup">
    <div class="row">
        <div class="popup__content">
            <strong>Eksperimentalna stranica -</strong> ova web aplikacija je još u razvoju te ne predstavlja finalno rješenje.
        </div>
    </div>
</div>
[% END %]
