<!--  START  FOOTER  -->
			<table width="100%" style="border-spacing: 0; background-color: #fafafa;">
			<tr>
				<td class="padding">
					<p class="para" style="text-align: left; font-weight: 400;font-size: 12px;color: #675F58; line-height: 16px;">
            [%~ IF email_footer %]
              [% email_footer | safe %]
            [%~ ELSE %]
              Ovaj mail je poslan automatski, nemojte slati odgovor.
            [%~ END %]
					</p>
				</td>
			</tr>
			</table>
<!-- END FOOTER  -->

	 		</table>
	 	</div>
	 </center>

</body>
</html>
