[%

# Popravito design variables.

logo_file = "popravito-logo-email.png"
header_text_size = "32px"

%]

[% # Handy point at which your cobrand can override any of those default colours before the rest of the settings are constructed. %]
[% TRY %][% PROCESS '_email_color_overrides.html' %][% CATCH file %][% END %]

[%

# Variables used inside the email templates.

%]

[% # Default variables used at some points. Will be used temporarily. %]
[% TRY %][% PROCESS '_email_setting_legacy.html' %][% CATCH file %][% END %]

[% # Handy point at which your cobrand can override any of the constructed variables before they are sent to the templates. %]
[% TRY %][% PROCESS '_email_setting_overrides.html' %][% CATCH file %][% END %]
