[%

# Popravito design variables.

logo_file = "email-logo.gif"

header_text_size = "32px"

%]

[% # Handy point at which your cobrand can override any of those default colours before the rest of the settings are constructed. %]
[% TRY %][% PROCESS '_email_color_overrides.html' %][% CATCH file %][% END %]

[%

# Variables used inside the email templates.

rss_meta_style = "padding: 5px ${ column_padding }px; vertical-align: top; background-color: $secondary_column_background_color; color: $secondary_column_text_color; border-bottom: 1px solid $column_divider_color; font-size: 14px;"

# The below is so the buttons work okay in Outlook: https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
button_style = "display: inline-block; border: 10px solid $button_background_color; border-width: 10px 15px; border-radius: $button_border_radius; background-color: $button_background_color; color: $button_text_color; font-size: 18px; line-height: 21px; font-weight: $button_font_weight; text-decoration: underline;"
fixed_button_style = "$button_style border-color: $button_background_color_fixed; background-color: $button_background_color_fixed; color: $button_text_color_fixed; margin: 0 0.2em;"
notfixed_button_style = "$button_style border-color: $button_background_color_notfixed; background-color: $button_background_color_notfixed; color: $button_text_color_notfixed; margin: 0 0.2em;"
dontknow_button_style = "$button_style border-color: $button_background_color_dontknow; background-color: $button_background_color_dontknow; color: $button_text_color_dontknow; margin: 0 0.2em;"

%]

[% # Handy point at which your cobrand can override any of the constructed variables before they are sent to the templates. %]
[% TRY %][% PROCESS '_email_setting_overrides.html' %][% CATCH file %][% END %]
