[%

email_summary = "Kliknite na poveznicu kako biste promjenili svoju email adresu na " _ site_name;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<!--  START UPPER BODY -->
	 					<table width="100%" style="border-spacing: 0; background-color: #ffffff;">
											<tr>
												<td class="padding" style="text-align: left;">
													<p class="sub-header" style="[% p_style_sub_header %]">
                            Promjenite vašu email&nbsp;adresu
												  </p>
												  <p class="para" style=" font-weight: 400;font-size: 16px;color: #1D1C1C; line-height: 24px;">
                            Kliknite na poveznicu ispod da biste potvrdili da želite promjenili email adresu korisničkog računa na [% site_name %].
                          </p>
										</td>
								</tr>
						</table>

						<table width="100%" style="border-spacing: 0; background-color: #ffffff; padding: 15px; text-align: left; margin-top: -10px;">
							<tr>
									<td class="button" style="padding-bottom: 40px;" >
											<a class="btn" href="[% c.uri_for_action( 'auth/token', token ) %]">Promjeni adresu korisničkog računa</a>
									</td>
								</tr>
								<tr>
									<td>
										<p class="para" style="[% p_style_normal_body_text %]">
											Ako više ne želite promjeniti adresu vašeg [% site_name %] korisničkog računa ili vi niste izradili ovaj zahtjev, ne trebate ništa učiniti te neće doći do promjene.
										</p>
									</td>
								</tr>
						</table>
<!--  UPPER BODY END  -->

[% INCLUDE '_email_bottom.html' %]
