[%

title = report.title | html;
email_summary = "Imate li minutu slobodnog vremena? Recite nam što se dogodilo s vašom prijavom problema ${ title } na " _ site_name _ ".";

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<!--  START UPPER BODY -->
	 					<table width="100%" style="border-spacing: 0; background-color: #ffffff;">
											<tr>
												<td class="padding" style="text-align: left;">
													<p class="sub-header" style="[% p_style_sub_header %]">
                            Je li problem popravljen?
												  </p>
												  <p class="para" style="[% p_style_normal_body_text %]">
                            Prije [% created %], prijavili ste problem putem [% site_name %]. Ažurirane informacije o vašem problemu biti će od velike pomoći prilikom nadzora rješavanja problema.
                          </p>
													<p class="para" style="[% p_style_normal_body_text %]">
                            Recite nam što se dogodilo s vašim prijavljenim problemom:
                          </p>
										</td>
								</tr>
						</table>

						<table width="100%" style="border-spacing: 0; background-color: #ffffff; padding: 15px; text-align: left; margin-top: -10px;">
							<tr>
									<td class="button" style="border-bottom: 2px solid #DAD6D3; padding-bottom: 40px;" >
											<a class="btn" href="[% url %]?been_fixed=Yes">Popravljeno</a>
											<a class="btn2" href="[% url %]?been_fixed=No">Nije popravljeno</a>
											<a class="btn3" href="[% url %]?been_fixed=Unknown">Ne znam</a>
									</td>
								</tr>
						</table>
<!--  UPPER BODY END  -->

<!--  START LINE  -->
						<table width="100%" style="border-spacing: 0; background-color: #ffffff;padding: 10px 15px;">
							<tr>
								<td style="[% td_style_bottom_border_line %]">
								</td>
							</tr>
						</table>
<!-- END LINE  -->

<!--  START MIDDLE BODY -->
						<!-- Disabling due to issue with map thumbnail allignment in Gmail
						<table width="100%" style="border-spacing: 0; background-color: #ffffff;">
	 						<tr>
	 							<td class="two-columns">
	 								<table class="column">
	 									<tr>
	 										<td class="padding">
	 											<table class="content" style="max-width: 420px; width: 420px;">
	 												<tr>
	 													<td style="text-align: left; padding: 0px; margin: 0px;">
	 														<p class="sub-header" style="text-align: left; font-weight: 600;font-size: 24px; color: #1D1C1C; padding: 0px; margin: 0px; line-height: 28px;">
															[% report.title | html %]
															</p>
															<p class="para" style="text-align: left; font-weight: 400;font-size: 16px;color: #1D1C1C; line-height: 24px; padding: 0px; margin-top: 20px;">
																[% report.detail | html %]</p>
	 													</td>
	 												</tr>
	 											</table>
	 										</td>
	 									</tr>
	 								</table>

	 							<table class="column">
	 									<tr>
	 										<td class="padding">
	 											<table>
	 												<tr>
	 													<td>
	 														<a class="map" href="[% url %]">
                                <img src="[% inline_image(report.static_map, 'map.jpeg') %]" alt="map" width="310" style="max-width: 310px; margin-left: 160px;">
                              </a>
	 													</td>
	 												</tr>
	 											</table>
	 										</td>
	 									</tr>
	 								</table>
	 							</td>
	 						</tr>
	 					</table>
						-->
<!-- MIDDLE BODY END  -->

<!--  START MIDDLE BODY --> <!-- This is replacement until Gmail map thumbnail is fixed -->
	 					<table width="100%" style="border-spacing: 0; background-color: #ffffff;">
	 						<tr>
	 							<td>
	 								<table class="column">
	 									<tr>
	 										<td class="padding">
	 											<table class="content" style="">
	 												<tr>
	 													<td style="text-align: left; padding: 0px; margin: 0px;">
	 														<p class="sub-header" style="text-align: left; font-weight: 600;font-size: 24px; color: #1D1C1C; padding: 0px; margin: 0px; line-height: 28px;">
																[% report.title | html %]
															</p>
															<p class="para" style="text-align: left; font-weight: 400;font-size: 16px;color: #1D1C1C; line-height: 24px; padding: 0px; margin-top: 20px;">
																[% report.detail | html %]
															</p>
	 													</td>
	 												</tr>
	 											</table>
	 										</td>
	 									</tr>
	 								</table>
	 							</td>
	 						</tr>
	 					</table>
<!-- MIDDLE BODY END  -->

[% INCLUDE '_email_bottom.html' %]
