[%

email_summary = "Kliknite ovaj link da promjenite vašu email adresu za " _ site_name _ "";
email_columns = 1;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Promjenite vašu email adresu za&nsbp;[% site_name %]</h1>
  <p style="[% p_style %]">Kliknite na poveznicu ispod da potvrdite promjenu vaše email
adrese na [% site_name %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% c.uri_for_action( 'auth/token', token ) %]">Promjeni moju email adresu</a>
  </p>
  <p style="[% p_style %]">Ako više ne želite promjeniti email adresu, zanemarite ovaj email.</p>
</th>

[% INCLUDE '_email_bottom.html' %]
