<header id="site-header" role="banner">
  <div class="container clearfix">
    <div>
      <a href="http://beta.test.popravi.to/" style="color: #fff; text-decoration: none;">
        <h1>Popravi.to</h1>
      </a>
    </div>
    <div class="top-row-extras">
      <a href="#main-nav"><span>Menu</span><span class="arrow">&nbsp;</span></a>
      <a href="/" title="Report a problem"><span>Report</span></a>
      <!-- <a href="https://forms.gle/t31dcJbNweFyh7FR9" title="Report a problem" target="_blank"><span>Prijavi bug</span></a>
      <a href="https://forms.gle/t31dcJbNweFyh7FR9" title="Give feedback" target="_blank"><span>Ocijeni portal</span></a>-->
    </div>
  </div>
</header>

<!-- TESTING ribbon: https://codepen.io/pongstr/full/jxhbu -->
<div class="content">
 <!-- default top-right position
 <span class="ribbon top-right ribbon-danger"><small>testiramo</small></span> -->

 <!-- position: top-left 
 <span class="ribbon top-left ribbon-*">...</span> --> 

 <!-- position: bottom-right
 <span class="ribbon bottom-right ribbon-*">...</span> --> 

 <!-- position: bottom-left
 <span class="ribbon bottom-left ribbon-*">...</span> -->   
</div>
