[% IF pagefooter %]

    <footer class="footer" role="contentinfo">
        <div class="footer-desc">
            <picture class="popravi-logo">
                <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/popravi-logo-white.svg">
                <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/popravi-logo-white.svg" alt="[% site_name %]">
            </picture>
            <p class="footer-text footer-text-long-desc">
                Popravi.to je online alat napravljen u svrhu poboljšanja javnih politika i inkluzivnom odlučivanju, 
                te kako bi građanima pružio mehanizme za prijavu problema lokalnoj administraciji te nadzoru 
                njihovog rješavanja u svojoj sredini.
            </p>
            <form class="button-link-footer">
                <button formaction="/_report" class="button report-issue-button-footer" tabindex="0" aria-label="report problem">[%- loc('Report a problem') -%]</button>
            </form>
        </div>
        <nav>
            <ul class="menu-list-footer [% ul_class %]" [% " id='" _ ul_id _ "'" IF ul_id %]>
                <li class="menu-item menu-item-footer"><a href="/reports" tabindex="0" aria-label="all reports">[%- loc('All reports') -%]</a></li>
                <li class="menu-item menu-item-footer"><a href="/alert" tabindex="0" aria-label="notifications">[%- loc('Local alerts') -%]</a></li>
                <li class="menu-item menu-item-footer"><a href="/faq" tabindex="0" aria-label="help">[%- loc('Help') -%]</a></li>

                [%~ IF c.user_exists ~%]
                    <li class="menu-item menu-item-footer"><a href="/my" tabindex="0" aria-label="my profile">[%- loc('Your account') -%]</a></li>
                [%~ ELSE ~%]
                    <li class="menu-item menu-item-footer"><a href="/auth" tabindex="0" aria-label="sign in">[%- loc('Sign in') -%]</a></li>
                [%~ END ~%]

            </ul>
        </nav>
        <div class="poweredby">
            <p class="footer-text">[% loc('Powered by') %]</p>
            <picture class="fixmystreet-logo">
                <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/fixmystreetlogo.svg">
                <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/fixmystreetlogo.svg" alt="FixMyStreet logo">
            </picture> 
            <p class="footer-text">[% loc('With love') %]</p>
            <picture class="fixmystreet-logo">
                <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/logo-codeforcroatia@2x-9665f208026f97e9dc0515e26d50d29ee4d6213ebca2316c73768864b862c72a.svg">
                <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/logo-codeforcroatia@2x-9665f208026f97e9dc0515e26d50d29ee4d6213ebca2316c73768864b862c72a.svg" alt="Code for Croatia logo">
            </picture> 
        </div>
        <div>
            <p class="footer-text footer-socials">[% loc('Find us on') %]</p>
            <nav>
                <ul class="socials">
                    <li class="footer-social-item"><a href="https://github.com/codeforcroatia" tabindex="0" aria-label="GitHub"><span class="github-link"></span></a></li>
                    <li class="footer-social-item"><a href="https://twitter.com/PopraviTo" tabindex="0" aria-label="Twitter"><span class="twitter-link"></span></a></li>
                    <li class="footer-social-item"><a href="https://www.facebook.com/Popravi.to" tabindex="0" aria-label="Facebook"><span class="facebook-link"></span></a></li>
                </ul>
            </nav>
        </div>
    </footer>
    
[% END %]

[% INCLUDE 'common_footer_tags.html' %]