[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% SET bodyclass = 'frontpage fullwidthpage' %]
[% INCLUDE 'header.html', title = '', inline_css = 1 %]

<main>
    <section class="central-content">
        <div class="mobile-hero-images">
            <picture class="hero-image">
                <source media="(max-width: 768px)" srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/hero-mobile-left.svg">
                <img src="#" alt="">
            </picture>
            <picture class="hero-image">
                <source media="(max-width: 768px)" srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/hero-mobile-right.svg">
                <img src="#" alt="">
            </picture>
        </div>

        [% INCLUDE 'around/postcode_form.html' %]

        <div class="container">
            <div class="content[% " $mainclass" | html IF mainclass %]" role="main">
                        
                [% IF error %]
                    <p class="form-error main-page-form-err">[% error %]</p>
                [% END %]

            </div>
        </div>

    </section>             
    <section class="report-steps-section">
        <h1 class="report-title">[% loc('How to report a problem') %]</h1>
        <ol class="report-steps">
            <li class="report-step" aria-label="upisi ulicu" tabindex="0">[% loc('Enter a nearby street name and area') %]</li>
            <li class="report-step" aria-label="lociraj problem na mapi" tabindex="0">[% loc('Locate the problem on a map of the area') %]</li>
            <li class="report-step" aria-label="opisi problem" tabindex="0">[% loc('Enter details of the problem') %]</li>
            <li class="report-step" aria-label="prijavu saljemo nadleznoj upravi" tabindex="0">[% loc('We send it to the council on your behalf') %]</li>
        </ol>
    </section>
    <section class="report-steps-section report-steps-section-two">
        <h1 class="report-title">[% loc('Problems in total') %]</h1>

        [% USE Number.Format %]

        [%
            stats = c.cobrand.front_stats_data();

            new_text =
                stats.recency == '1 week'
                ? nget(
                    "<big>%s</big> report in past week",
                    "<big>%s</big> reports in past week",
                    stats.new
                )
                : nget(
                    "<big>%s</big> report recently",
                    "<big>%s</big> reports recently",
                    stats.new
                );
            
        IF stats.completed.defined;
            completed_text = nget(
                "<big>%s</big> completed in past month",
                "<big>%s</big> completed in past month",
                stats.completed
            );
            completed_n = stats.completed | format_number;
        END;

        IF stats.fixed.defined;
            fixed_text = nget(
                "<big>%s</big> fixed in past month",
                "<big>%s</big> fixed in past month",
                stats.fixed
            );
            fixed_n = stats.fixed | format_number;
        END;
            
            updates_text = nget(
                "<big>%s</big> update on reports",
                "<big>%s</big> updates on reports",
                stats.updates
            );

            new_n = stats.new | format_number;
            updates_n = stats.updates | format_number;
        %]

        <ul class="report-statistics">
            <li class="report-stat-item">
                <p class="report-stat-num" tabindex="0">[% tprintf( decode(new_n) ) %]</p>
                <p class="report-stat-detail"><span class="report-mark report-one" aria-hidden="true"></span>[% loc('REPORTED') %]</p>
            </li>
            <li class="report-stat-item">
                <p class="report-stat-num" tabindex="0">[% tprintf( decode(updates_n) ) %]</p>
                <p class="report-stat-detail"><span class="report-mark report-two" aria-hidden="true"></span>[% loc('UPDATED') %]</p>
            </li>
            [% IF fixed_text %]
                <li class="report-stat-item">
                    <p class="report-stat-num" tabindex="0">[% tprintf( decode(fixed_n) ) %]</p>
                    <p class="report-stat-detail"><span class="report-mark report-three" aria-hidden="true"></span>[% loc('FIXED') %]</p>
                </li>
            [% END %]
        </ul>
    </section>
</main>

<footer class="footer">
    <div class="footer-desc">
        <picture class="popravi-logo">
            <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/popravi-logo-white.svg">
            <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/popravi-logo-white.svg" alt="[% site_name %]">
        </picture>
        <p class="footer-text footer-text-long-desc">
            Popravi.to je online alat napravljen u svrhu poboljšanja javnih politika i inkluzivnom odlučivanju, 
            te kako bi građanima pružio mehanizme za prijavu problema lokalnoj administraciji te nadzoru 
            njihovog rješavanja u svojoj sredini.
        </p>
        <form class="button-link-footer">
            <button formaction="/_report" class="button report-issue-button-footer" tabindex="0" aria-label="report problem">[%- loc('Report a problem') -%]</button>
        </form>
    </div>
    <nav>
        <ul class="menu-list-footer [% ul_class %]" [% " id='" _ ul_id _ "'" IF ul_id %]>
            <li class="menu-item menu-item-footer"><a href="/reports" tabindex="0" aria-label="all reports">[%- loc('All reports') -%]</a></li>
            <li class="menu-item menu-item-footer"><a href="/alert" tabindex="0" aria-label="notifications">[%- loc('Local alerts') -%]</a></li>
            <li class="menu-item menu-item-footer"><a href="/faq" tabindex="0" aria-label="help">[%- loc('Help') -%]</a></li>

            [%~ IF c.user_exists ~%]
                <li class="menu-item menu-item-footer"><a href="/my" tabindex="0" aria-label="my profile">[%- loc('Your account') -%]</a></li>
            [%~ ELSE ~%]
                <li class="menu-item menu-item-footer"><a href="/auth" tabindex="0" aria-label="sign in">[%- loc('Sign in') -%]</a></li>
            [%~ END ~%]

        </ul>
    </nav>
    <div class="poweredby">
        <p class="footer-text">[% loc('Powered by') %]</p>
        <picture class="fixmystreet-logo">
            <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/fixmystreetlogo.svg">
            <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/fixmystreetlogo.svg" alt="FixMyStreet logo">
        </picture> 
        <p class="footer-text">[% loc('With love') %]</p>
        <picture class="fixmystreet-logo">
            <source srcset="[% c.cobrand.base_url %]/cobrands/popravito/images/logo-codeforcroatia@2x-9665f208026f97e9dc0515e26d50d29ee4d6213ebca2316c73768864b862c72a.svg">
            <img src="[% c.cobrand.base_url %]/cobrands/popravito/images/logo-codeforcroatia@2x-9665f208026f97e9dc0515e26d50d29ee4d6213ebca2316c73768864b862c72a.svg" alt="Code for Croatia logo">
        </picture> 
    </div>
    <div>
        <p class="footer-text footer-socials">[% loc('Find us on') %]</p>
        <nav>
            <ul class="socials">
                <li class="footer-social-item"><a href="https://github.com/codeforcroatia" tabindex="0" aria-label="GitHub"><span class="github-link"></span></a></li>
                <li class="footer-social-item"><a href="https://twitter.com/PopraviTo" tabindex="0" aria-label="Twitter"><span class="twitter-link"></span></a></li>
                <li class="footer-social-item"><a href="https://www.facebook.com/Popravi.to" tabindex="0" aria-label="Facebook"><span class="facebook-link"></span></a></li>
            </ul>
        </nav>
    </div>
</footer>

<script src="[% c.cobrand.base_url %]/cobrands/popravito/menu.js"></script>

[% INCLUDE 'common_footer_tags.html' %]
</body>
</html>


