[%

email_summary = "Kliknite na poveznicu kako biste potvrdili svoju email adresu i prijavili se " _ site_name;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<!--  START UPPER BODY -->
	 					<table width="100%" style="border-spacing: 0; background-color: #ffffff;">
											<tr>
												<td class="padding" style="text-align: left;">
													<p class="sub-header" style="[% p_style_sub_header %]">
                            Hvala vam što koristite [% site_name %]
												  </p>
												  <p class="para" style="[% p_style_normal_body_text %]">
                            Kliknite na poveznicu kako biste potvrdili svoju email adresu i prijavili se u [% site_name %].
                          </p>
										</td>
								</tr>

						</table>

						<table width="100%" style="border-spacing: 0; background-color: #ffffff; padding: 15px; text-align: left; margin-top: -10px;">
							<tr>
									<td class="button" style="padding-bottom: 40px;" >
											<a class="btn" href="[% c.uri_for_action( 'auth/token', token ) %]">Da, ovo je moja email adresa</a>
									</td>
							</tr>
							<tr>
								<td>
									<p class="para" style="[% p_style_normal_body_text %]">
										Nakon što to učinite, putem izbornika [% translation_menu_item_your_account %] moći ćete pregledavati i upravljati svim prijavama i ažuriranjima koje ste napisali na [% site_name %].
									</p>
								</td>
							</tr>
						</table>
<!--  UPPER BODY END  -->

[% INCLUDE '_email_bottom.html' %]
