[%

email_summary = "Potrebno je odobriti prijavu kreiranu putem " _ site_name _ " prije nego može biti poslana nadležnom uredu.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Molimo vas potvrdite vašu&nbsp;prijavu</h1>
  <p style="[% p_style %]">Kliknite na poveznicu ispod da potvrdite slanje vaše prijave nadležnom uredu.</p>
  [% UNLESS report.non_public %]<p style="[% p_style %]">Vaša prijava će biti prikazana na [% site_name %] internetskoj stanici.</p>[% END %]
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Da, pošaljite moju prijavu</a>
  </p>
  <p style="[% p_style %]">Ako ne želite poslati ovu prijavu, ne trebate ništa učiniti.</p>
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report, url = token_url %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
