/* LAYOUT */

// If you are wanting a right-to-left layout, uncomment the following line.
// $direction: right;

/* COLOURS */

$orange: #fff;
$bluey: #ffffff;

$primary: $orange;
$primary_b: #000000;
$primary_text: #1D1C1C;

$base_bg: $bluey;
$base_fg: #000;

$nav_background_colour: $bluey;
$nav_colour: #1D1C1C;
$nav_hover_background_colour: #1D1C1C;

// Colour used for front page 'how to report a problem' steps
$col_big_numbers: #ccc;

$col_click_map: $bluey;

@font-face {
  font-family: 'DarkerGrotesque-Bold';
  src: url("fonts/DarkerGrotesque-Bold") format("ttf");
}

@font-face {
  font-family: 'DarkerGrotesque-SemiBold';
  src: url("fonts/DarkerGrotesque-SemiBold") format("ttf");
}
//Fonts
$primary-bold: DarkerGrotesque-Bold, Arial, Helvetica, sans-serif;
$primary-semi: DarkerGrotesque-SemiBold, Arial, Helvetica, sans-serif;

$primary-color: #1D1C1C;

