<div id="footer" role="contentinfo">
  <div class="container">
    <div class="terms-and-conditions-menu" role="navigation" aria-labelledby="site-structure-heading">
      <h2 id="site-structure-heading" class="visuallyhidden">Site structure and legal information</h2>
      <div class="footer-flex">
        <ul>
          <li>
            <div id="footer-logo">
              <a href="http://popravito.localhost/"></a>
            <div/>
          </li>
          <li><p>Popravi.to je online alat napravljen u svrhu poboljšanja javnih politika i inkluzivnom odlučivanju, te kako bi građanima pružio mehanizme za prijavu problema lokalnoj administraciji te nadzoru njihovog rješavanja u svojoj sredini.</p></li>
          <li><div class="footer-button"><a href="#">Report a problem</a><div/></li>
        </ul>
        <ul id="flex">
          <li><a href="/reports">All reports</a></li>
          <li><a href="/alert"">Local alerts</a></li>
          <li><a href="/faq">Help</a></li>
          <li><a href="/contact">Contact us</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
        <ul>
          <li><p>Powered by</p></li>
          <li><a href="#" id="fixmystreet-logo"></a></li>
          <li><p>With love</p></li>
          <li><a href="#" id="croatia-logo"></a></li>
        </ul>
        <ul>
          <li><a href="#">Pronađi nas na </a></li>
          <li>
            <div class="footer-media">
              <a class="footer-media_github" href="#"></a>
              <a class="footer-media_twitter" href="#"></a>
              <a class="footer-media_facebook" href="#"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="ex1" class="modal">
    <p>Opišite problem sa što više korisnih detalja kako bi olakšali rješavanje problema. Precizno opišite lokaciju, vrstu problema te koliko je dugo prisutan.

      Npr. “od 1.3.2021. ne radi ulična svjetiljka na uglu Selske i Ozaljske ulice”</p>
  </div>
  <div id="ex2" class="modal">
    <p>Something about your photos</p>
  </div>
</div>

