<header id="site-header" role="banner">
  <div class="container clearfix">
    <div class="logo">
      <a href="http://popravito.localhost/">
        <span id="site-logo">Popravito</span>
      </a>
    </div>
    <div class="top-row-extras">
<!--      <a href="#main-nav"><span>Menu</span><span class="arrow">&nbsp;</span></a>-->
      <div class="hamburger" id="hamburger">
          <div class="bar"></div>
      </div>
<!--      <a href="/" title="Report a problem"><span>Report</span></a>-->
    </div>

  </div>
</header>
<nav class="mobile-nav">
    <a href="/report">Report a problem</a>
    <a href="/my">My Account</a>
    <a href="/auth">Sign In</a>
    <a href="/reports">All reports</a>
    <a href="/alert">Local alerts</a>
    <a href="/contact">Contact Us</a>
    <a href="/faq">Help</a>
</nav>