<header id="site-header" role="banner">
  <div class="container clearfix">
    <div class="logo">
      <a href="[% c.cobrand.base_url IF admin %]/">
        <span id="site-logo">[% site_name %]</span>
      </a>
    </div>
    <div class="top-row-extras">
<!--      <a href="#main-nav"><span>Menu</span><span class="arrow">&nbsp;</span></a>-->
      <div class="hamburger" id="hamburger">
          <div class="bar"></div>
      </div>
<!--      <a href="/" title="Report a problem"><span>Report</span></a>-->
    </div>

  </div>
</header>
<nav class="mobile-nav">
    <a href="/report">[% loc('Report a problem') %]</a>
    [%~ IF c.user_exists ~%]
        [%~ INCLUDE navitem uri='/my' label=loc('Your account') ~%]
    [%~ ELSE ~%]
        [%~ INCLUDE navitem uri='/auth' label=loc('Sign in') ~%]
    [%~ END ~%]
    <a href="/reports">[% loc('All reports') %]</a>
    <a href="/alert">[% loc('Local alerts') %]</a>
    <a href="/contact">[% loc('Contact us') %]</a>
    <a href="/faq">[% loc('Help') %]</a>
</nav>
